.men-women-section {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.half-width-image {
  width: 45%;
  border-radius: 5px;
}

.category-text {
  text-align: center;
  margin-top: 10px;
}

.category-text h3 {
  font-size: 1.5em;
  color: #333;
}

.category-text p {
  font-size: 1.1em;
}
